{{!-- Comment Form Update Template --}}

<form>
  <div class="mb-3">
    <label for="commentFormUserPost" class="form-label">Posting As: <strong>{{ username }}</strong></label>
  </div>
  <div class="mb-3">
    <label for="updateCommentFormInputContent" class="form-label">Content</label>
    <textarea type="text" class="form-control" id="updateCommentFormInputContent"></textarea>
  </div>
  <div>
    <p id="commentFormResult"></p>
  </div>
</form>
