{{!-- Comment Form Template --}}

<form>
  <div class="mb-3">
    <label for="commentFormUserPost" class="form-label">Posting As: <strong>{{ username }}</strong></label>
  </div>
  <div class="mb-3">
    <label for="commentFormInputContent" class="form-label">Content</label>
    <textarea type="text" class="form-control" id="commentformInputContent"></textarea>
  </div>
  <div>
    <p id="commentFormResult"></p>
  </div>
</form>
