{{!-- Comment Modal --}}

<div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="commentModalLabel">Create a New Comment</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="formInputContent" class="form-label"></label>
            <textarea type="text" class="form-control" id="commentInputContent"></textarea>
          </div>
          <div>
            <p id="formResult"></p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="commentPostCancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button id="commentPostSubmit" type="submit" class="btn btn-primary">Comment</button>
      </div>
    </div>
  </div>
</div>
