{{!-- Comment Section--}}
<div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="commentModalLabel">Enter a Comment</h5>
      </div>
      <div class="modal-body">
        {{> login-form}}
      </div>
      <div class="modal-footer">
        <button id="commentCancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button id="commentSubmit" type="submit" class="btn btn-primary">Comment</button>
      </div>
    </div>
  </div>
</div>
