{{!-- Post Modal --}}

<div class="modal fade" id="postModal" tabindex="-1" aria-labelledby="modalPostLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalPostLabel">Create a New Post</h5>
      </div>
      <div class="modal-body">
        {{> post-form username=username}}
      </div>
      <div class="modal-footer">
        <button id="modalPostCancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button id="modalPostSubmit" type="submit" class="btn btn-primary">Post</button>
      </div>
    </div>
  </div>
</div>
