{{!-- Post Form Update Template --}}

<form>
  <div class="mb-3">
    <label for="formUserPost" class="form-label">Posting As: <strong>{{ username }}</strong></label>
  </div>
  <div class="mb-3">
    <label for="updateFormPostTitle" class="form-label">Title:</label>
    <input type="text" class="form-control" id="updateFormPostTitle"></input>
  </div>
  <div class="mb-3">
    <label for="updateFormInputContent" class="form-label">Content</label>
    <textarea type="text" class="form-control" id="updateFormInputContent"></textarea>
  </div>
  <div>
    <p id="formResult"></p>
  </div>
</form>
