<div class="card my-3 mx-auto" style="width: 90%;">
  <div class="card-body p-0">
    <section>
      <h5 class="card-header bg-secondary">{{ title }}</h5>
      <p class="card-text p-3">{{ content }}</p>
    </section>
    <section>
      Comments:
      <div class="d-flex flex-column-reverse mt-3 comment-container">
        {{#each comments as |comment|}}
        {{> comment username=Commenter.username content=content}}
        {{/each}}
      </div>
    </section>
    <div class="d-sm-flex flex-row justify-content-between card-footer">
      {{#if loggedIn}}
      <div class="button-group">
        <button id="postComment" class="btn btn-primary" type="button">Comment</button>
        {{#if_user author_id user_id}}
        <button id="postDelete" class="btn btn-primary" type="button">Delete</button>
        {{/if_user}}
      </div>
      {{/if}}
      <div class="d-sm-flex justify-content-between">
        <p class="card-text px-2">Author: {{ Blogger.username }}</p>
        <p class="card-text px-2">Created: {{ format_created updatedAt }}</p>
      </div>
    </div>
  </div>
</div>
