<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ title }}</h5>
    <p class="card-text">{{ content }}</p>
    <a href="#" class="btn btn-primary">New Post</a>
    <p class="card-text">{{ author_id}}</p>
  </div>
</div>
