<form>
  <div class="mb-3">
    <label for="formUserPost" class="form-label">User:</label>
    <input type="text" class="form-control" id="formUserPost" value="{{ username }}"></input>
  </div>
  <div class="mb-3">
    <label for="formPostTitle" class="form-label">Title:</label>
    <input type="text" class="form-control" id="formPostTitle"></input>
  </div>
  <div class="mb-3">
    <label for="formInputContent" class="form-label">Content</label>
    <textarea type="text" class="form-control" id="formInputContent"></textarea>
  </div>
  <div>
    <p id="formResult"></p>
  </div>
</form>
