{{!-- Update Post Modal --}}

<div class="modal fade" id="updatePostModal" tabindex="-1" aria-labelledby="updatePostModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updatePostModalLabel">Update a Post</h5>
      </div>
      <div class="modal-body">
        {{> post-form username=username}}
      </div>
      <div class="modal-footer">
        <button id="updateModalPostCancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button id="updateModalPostSubmit" type="submit" class="btn btn-primary">Update</button>
      </div>
    </div>
  </div>
</div>
