{{!-- User Dashboard Page --}}
<section class="d-flex flex-column-reverse">
  <div class="card fade" id="postPage" tabindex="-1" aria-labelledby="postPageLabel" aria-hidden="true">
    <div class="card-dialog">
      <div class="card-content">
        <div class="card-header">
          <h5 class="card-title" id="postPageLabel">Create a New Post</h5>
        </div>
        <div class="card-body">
          {{> post-form Blogger}}
        </div>
        <div class="card-footer">
          <button id="postCancel" type="button" class="btn btn-secondary" data-bs-dismiss="card">Cancel</button>
          <button id="postSubmit" type="submit" class="btn btn-primary">Post</button>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="d-flex flex-column-reverse mt-3 post-container">
    {{#each blogs as |blog|}}
    {{> post loggedIn=../loggedIn user_id=../user_id comments=../comments}}
    {{/each}}
  </div>
</section>
{{> comment-modal}}
<script src="/js/post.js"></script>
