<section>
    <div class="card text-center">
        <div class="card-header">
            <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5a4f1717-428c-47e7-b94f-673135d73112/dbj2mik-50a094f5-9bb6-47c5-9a78-20622c65bf29.png/v1/fill/w_1024,h_265,strp/header___nier__automata___2b___collab___may_by_oonadileeoo_dbj2mik-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjY1IiwicGF0aCI6IlwvZlwvNWE0ZjE3MTctNDI4Yy00N2U3LWI5NGYtNjczMTM1ZDczMTEyXC9kYmoybWlrLTUwYTA5NGY1LTliYjYtNDdjNS05YTc4LTIwNjIyYzY1YmYyOS5wbmciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.pCDIT4h5c3MR_ScAj7vGQTv61w-76TXPLAKEJwI6MIM" class="img-fluid" alt="Nier Header">
        </div>
        <div class="card-body mb-3">
            <h1 class="card-title">Welcome to Tech Blog FM</h1>
            <p class="card-text">Login to post a blog.</p>
        </div>
    </div>
    <div class="d-grid gap-2 col-6 mt-5 mx-auto">
        <button class="btn btn-primary" type="button">Login</button>
    </div>
</section>
